.container {
    height: 35rem;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

h2 {
    font-size: 2.5rem;
    color: black;
    margin-right: 0.5rem;
}

p {
    font-size: 2rem;
    color: rgb(37, 11, 232);
    font-style: italic;
    font-weight: bolder;
}

.custom-box {
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
}

.custom-box1 {
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    display: flex;
}